<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUy3DsjDjXsjYvcb_S0ZqFlROg590_naQ</string>
	<key>GCM_SENDER_ID</key>
	<string>700843241303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectmp</string>
	<key>PROJECT_ID</key>
	<string>projectmp-5b9cc</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmp-5b9cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700843241303:ios:4f297f7ec1306c3f1f1812</string>
</dict>
</plist>